<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- DAVID: Script not used -->
    <!-- script to allow using cordova plugins -->
    <script src="lib/ng-cordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script type="text/javascript">
        function mentalDemand(val) {
                document.getElementById('mentalInput').value=" " + val; 
        }
        function physicalDemand(val) {
                document.getElementById('physicalInput').value=" " + val; 
        }
        function temporalDemand(val) {
                document.getElementById('temporalInput').value=" " + val; 
        }
        function performance(val) {
                document.getElementById('performanceInput').value=" " + val; 
        }
        function effort(val) {
                document.getElementById('effortInput').value=" " + val; 
        }
        function frustration(val) {
                document.getElementById('frustInput').value=" " + val; 
        }

    </script>
  </head>
  <body ng-app="uiExperiment" ng-controller="experimentController">

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear">
        <i class="ion-ios-arrow-back"></i>
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <!-- container for the view contents -->
    <ion-nav-view></ion-nav-view>

    <!-- home page view -->
    <script id="home.html" type="text/ng-template">
      <ion-view view-title="CSC428 Text UI Experiment">

        <ion-content class="padding" scroll="false">
          <!-- List the choices on the first view -->
          <div class="list card">

            <a href="#/user-info-search" class="item item-icon-right">
              <i class="icon ion-ios-arrow-forward"></i>
              Start Experiment
            </a>

            <a href="#/experiment-kb" class="item item-icon-right" ng-click="checkIfPractice(true)">
              <i class="icon ion-ios-arrow-forward"></i>
              Practice Experiment
            </a>

            <a href="#/about" class="item item-icon-right">
              <i class="icon ion-ios-arrow-forward"></i>
              About
            </a>

          </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- user info search -->
    <script id="user-info-search.html" type="text/ng-template">
      <ion-view view-title="User Select">

        <!-- Buttons in the header for this view only -->
        <ion-nav-buttons side="right">
          <button id="newUserButton" class="button back-button buttons button-clear header-item" ng-click="newUserButtonClicked()">New User</button>
        </ion-nav-buttons>

        <ion-content class="padding">

          <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-center'}"></toaster-container>

          <div class="list list-inset">

            <!-- First and last name search input -->
            <label class="item item-input">
              <input id="first-name" type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
              <input id="last-name" type="text" placeholder="Last Name">
            </label>

          </div>

          <div id="results-list" class="list list-inset">

            <div id="search-results-divider" class="item item-divider">
              Search Results
            </div>

            <!-- Example results -->
            <!--
            <div class="item">
              David Lacoste
            </div>
            <div class="item">
              Simon Lacoste
            </div>
            -->

          </div>

          
          <!--<button  class="button button-block button-positive" ></button>-->
          <button id="userSearchButton" class="button button-block button-positive" ng-click="searchButtonClicked()">Search</button>

        </ion-content>

      </ion-view>
    </script>

    <!-- questionnaire view -->
    <script id="questionnaire.html" type="text/ng-template">
      <ion-view view-title="Questionnaire">

        <ion-content class="padding" scroll="false">

          <!-- list of choices on the questionnaire view -->
          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Input Type
              </div>
              <select id="input-type-select">
                <option value="1">Keyboard Small</option>
                <option value="2">Keyboard Medium</option>
                <option value="3">Keyboard Large</option>
                <option value="4">Voice</option>
                <option value="99">TESTING</option>
              </select>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Gender
              </div>
              <select id="gender-select">
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Age
              </div>
              <select id="age-select">
                <option value="1">0-11</option>
                <option value="2">12-17</option>
                <option value="3">18-24</option>
                <option value="4">25-34</option>
                <option value="5">35-44</option>
                <option value="6">45-54</option>
                <option value="7">55-64</option>
                <option value="8">65-74</option>
                <option value="9">75+</option>
              </select>
            </label>

          </div>

          <div class="list card">
            <a href="#/experiment-kb" class="item item-icon-right" ng-click="checkIfPractice(false)">
              <i class="icon ion-ios-arrow-forward"></i>
              Experiment
            </a>
          </div>

          <!--
          TEST BUTTON
          <button id="testButton" class="button button-block button-positive" ng-click="getUserId()">Get Id</button>
          -->

        </ion-content>
      </ion-view>
    </script>

    <!-- post-questionnaire view -->
    <script id="post-questionnaire.html" type="text/ng-template">
      <ion-view view-title="Post-Questionnaire">
        <ion-content class="padding">

          <!-- list of choices on the post-questionnaire -->
          <div class="list">

            <!-- Mental Demand -->
            <div class="item item-divider">
              <span style="float: left;">
                   Mental Demand:    
              </span>
	      <span style="float: left;">
	           <input type="text" id="mentalInput" style="height:20px;width:30px;border:5px;background-color:#f5f5f5;"value=" 5"> 
	      </span>
              <span class="item-note">
		  How mentally demanding was the task?
              </span>
            </div>

            <div class="item range range-positive">
              <i><span>Low</span></i>
                <input id="mental-demand-select" type="range" name="mental-demand-select" min="0" max="10" onchange="mentalDemand(this.value);">
                <i><span>High</span></i>
            </div>

            <!-- Physical Demand -->
            <div class="item item-divider">
              <span style="float: left;">
		Physical Demand:
              </span>
              <span style="float: left;">
                   <input type="text" id="physicalInput" style="height:20px;width:30px;border:5px;background-color:#f5f5f5;"value=" 5"> 
              </span>
              <span class="item-note">
                How physically demanding was the task?
              </span>
            </div>

            <div class="item range range-positive">
              <i><span>Low</span></i>
                <input id="physical-demand-select" type="range" name="physical-demand-select" min="0" max="10" onchange="physicalDemand(this.value);">
                <i><span>High</span></i>
            </div>

            <!-- Temporal Demand -->
            <div class="item item-divider">
              <span style="float: left;">
		Temporal Demand:
              </span>
              <span style="float: left;">
                   <input type="text" id="temporalInput" style="height:20px;width:30px;border:5px;background-color:#f5f5f5;"value=" 5"> 
              </span>
              <span class="item-note">
                How hurried or rushed was the pace of the task?
              </span>
            </div>

            <div class="item range range-positive">
              <i><span>Low</span></i>
                <input id="temporal-demand-select" type="range" name="temporal-demand-select" min="0" max="10" onchange="temporalDemand(this.value);">
                <i><span>High</span></i>
            </div>

            <!-- Performance -->
            <div class="item item-divider">
              <span style="float: left;">
		Performance:
              </span>
              <span style="float: left;">
                   <input type="text" id="performanceInput" style="height:20px;width:30px;border:5px;background-color:#f5f5f5;"value=" 5"> 
              </span>
              <span class="item-note">
                How successful were you in accomplishing the task?
              </span>
            </div>

            <div class="item range range-positive">
              <i><span>Low</span></i>
                <input id="performance-select" type="range" name="performance-select" min="0" max="10" onchange="performance(this.value);">
                <i><span>High</span></i>
            </div>

            <!-- Effort -->
            <div class="item item-divider">
              <span style="float: left;">
		Effort:
              </span>
              <span style="float: left;">
                   <input type="text" id="effortInput" style="height:20px;width:30px;border:5px;background-color:#f5f5f5;"value=" 5"> 
              </span>
              <span class="item-note">
                How hard did you have to work to accomplish your level of performance?
              </span>
            </div>

            <div class="item range range-positive">
              <i><span>Low</span></i>
                <input id="effort-select" type="range" name="effort-select" min="0" max="10" onchange="effort(this.value);">
                <i><span>High</span></i>
            </div>

            <!-- Frustration -->
            <div class="item item-divider">
              <span style="float: left;">
		Frustration:
              </span>
              <span style="float: left;">
                   <input type="text" id="frustInput" style="height:20px;width:30px;border:5px;background-color:#f5f5f5;"value=" 5"> 
              </span>
              <span class="item-note">
                How insecure, discouraged, irritated, stressed, and annoyed were you?
              </span>
            </div>

            <div class="item range range-positive">
              <i><span>Low</span></i>
                <input id="frustration-select" type="range" name="frustration-select" min="0" max="10" onchange="frustration(this.value);">
                <i><span>High</span></i>
            </div>

          </div>

          <button id="doneButton" class="button button-block button-positive" ng-click="completeExperiment()">
            Done
          </button>

        </ion-content>
      </ion-view>
    </script>

    <!-- experiment view -->
    <!-- NOTE: So far, we only have one size of keyboard -->
    <script id="experiment-kb.html" type="text/ng-template">
      <ion-view view-title="Please Type the Following Text">
        <ion-content class="padding">
          
          <div id="experiment-text-card" class="card animated fadeInRight">
            <div id="progress" class="item item-divider text-right">Progress: 1/{{ arrayProps.size }}</div>
            <div id="experiment-text" class="item item-text-wrap">
              <!-- Dynamically generate the content from the corpus in the javascript file -->
              {{ sentence.content }}
            </div>
          </div>

          <div class="list list-inset" style="width: 193px;">
            <label class="item item-input">

              <input id="textarea-kb" type="text" ng-required="true" class="ng-dirty ng-valid ng-valid-required" ng-click="initializeTextArea('textarea-kb')">
            </label>
          </div>
          
          <button id="nextButton" class="button button-block button-positive" ng-click="nextText()">
            Next
          </button>

          <button id="resetButton" class="button button-block button-positive" ng-click="resetText()">
            Reset
          </button>
          <!-- Hidden field to make the next display scrollable to hit next while the keyboard is open -->
          <div class="list list-inset" style="display: none;">

          </div>

          <!-- 
          <a href="#/complete" id="completeButton" style="visibility: hidden;" class="button button-block button-positive" ng-click="stopTimer()">
            Done
          </a>
          -->

        </ion-content>
      </ion-view>
    </script>

    <!-- ABOUT -->

    <!-- about view -->
    <script id="about.html" type="text/ng-template">
      <ion-view view-title="About">
        <ion-content class="padding" scroll="false">

          <div class="list">

            <a href="#" class="item">
              Build
              <span class="item-note">
              1.0.0
            </a>

            <a href="#/authors" class="item item-icon-right">
              <i class="icon ion-ios-arrow-forward"></i>
              Authors
            </a>

            <a href="#/info" class="item item-icon-right">
              <i class="icon ion-ios-arrow-forward"></i>
              Info
            </a>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <!-- authors view -->
    <script id="authors.html" type="text/ng-template">
      <ion-view view-title="Authors">
        <ion-content class="padding" scroll="false">

          <div class="content">

            <h3>Authors</h3>
            <p>David Lacoste</p>
            <p>Daniel Zaccagnini</p>
            <p>Matt Haber</p>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <!-- info view -->
    <script id="info.html" type="text/ng-template">
      <ion-view view-title="Info">
        <ion-content class="padding" scroll="false">

          <div class="content">

            <h3>Info</h3>
            <p>This application was built as a group project for CSC428H at the University of Toronto.</p>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <!-- error modal -->
    <script id="error-modal.html" type="text/ng-template">
      <div class="modal">

        <!-- Header bar -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">Error</h1>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content class="padding" scroll="false">

          <div class="content">
            <p>Please enter a first and last name</p>
          </div>

          <button id="error-ok-button" class="button button-block button-positive" ng-click="closeErrorModal()">
            Close
          </button>
          
        </ion-content>

      </div>
    </script>

    <!-- AJAX call error modal -->
    <script id="ajax-error-modal.html" type="text/ng-template">
      <div class="modal">

        <!-- Header bar -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">Error</h1>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content class="padding" scroll="false">

          <div class="content">
            <p>There was an error communicating with the server. Please check your internet connection.</p>
          </div>

          <button id="ajax-error-ok-button" class="button button-block button-positive" ng-click="closeAjaxErrorModal()">
            Close
          </button>
          
        </ion-content>

      </div>
    </script>

  </body>
</html>
