.menubar {
	top = 0;
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 8px;
    overflow: hidden;
    background-color: grey;
    text-align: left;
    font-family: "Arial", "Verdana", sans-serif;
}

.bottom {
	margin-left: 8px;
	margin-top: 8px;
	/*color: #FFFFFF;*/
}

.clear {
	clear: both;
	height: 90px;
}

footer {
	height: 80px;
	width: 100%;
	position: fixed;
	bottom: 0;
    background-color: grey;
    border-top: 1px solid #DDD;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.anchorMenu {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 160px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #003399;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
    background-color: #003399;
}

.leftLink {
    float: left;
    padding-right: 4px;
}

.rightLink {
    float: right;
    padding-left: 4px;
}