.aboutContainer {
	border: 8px solid black;
	background: #FFF;
	margin: 80px auto;
	width: 640px;
	float: relative;
	text-align: left;
}

.buttonContainer {
	text-align: center;
}

#aboutTitle {
	margin-left: 8px;
}

#par1 {
	margin-left: 8px;
}

body {
	color: #404040;
	background: #0ca3d2;
	font-family: "Arial", "Verdana", sans-serif;
}

.container {
	border: 8px solid black;
	background: #FFF;
	margin: 80px auto;
	width: 640px;
	float: relative;
	text-align: center;
}

button {
	color: #fff;
	text-shadow: -2px 2px #346392;
	background-color: #0066CC;
	background-image: linear-gradient(top, #6496c8, #346392);
	box-shadow: inset 0 0 0 1px #27496d;
	border: none;
	border-radius: 15px;
	padding: 15px;
	font-family: "Arial", "Verdana", sans-serif;
}

button:hover, button.hover {
	box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

button:active, button.active {
	box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}