<h1>Participants</h1>

<table id="participant-data-table" class="table table-striped table-bordered table-condensed">
	<tbody>
		<tr>
			<th>Participant Id</th>
			<th>User Id</th>
			<th>Input Type</th>
			<th>Gender</th>
			<th>Age</th>
			<th>Accuracy (%)</th>
			<th>Words per minute</th>
			<th>Mental Demand</th>
			<th>Physical Demand</th>
			<th>Temporal Demand</th>
			<th>Performance</th>
			<th>Effort</th>
			<th>Frustration</th>
			<th>Created At</th>
		</tr>
		<% @participants.each do |part| %>
			<tr>
				<td><%= part.id %></td>
				<td><%= part.user_id %></td>
				<td><%= part.input_type %></td>
				<td><%= part.gender %></td>
				<td><%= part.age %></td>
				<td><%= part.correct_entry_pct %></td>
				<td><%= part.wpm %></td>
				<td><%= part.mental_demand %></td>
				<td><%= part.physical_demand %></td>
				<td><%= part.temporal_demand %></td>
				<td><%= part.performance %></td>
				<td><%= part.effort %></td>
				<td><%= part.frustration %></td>
				<td><%= part.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<button id="csv-export-button" type="button" class="btn btn-primary">Export to CSV</button>

<script type="text/javascript">
	 jQuery(document).ready(function() {

	 	$('#participant-data-table').each(function () {

	 	    var $table = $(this);

	 	    var $button = $("#csv-export-button");

	 	    $button.click(function () {
	 	        var csv = $table.table2CSV({
	 	            delivery: 'value'
	 	        });
	 	        window.location.href = 'data:text/csv;charset=UTF-8,' 
	 	        + encodeURIComponent(csv);
	 	    });
	 	});
	 });
</script>