@import "bootstrap-sprockets";
@import "bootstrap";

table {
	width: auto !important;
}

th {
	width: auto !important;
}

td {
	width: auto !important;
}

body {
	margin-left: 8px !important;
	margin-right: 8px !important;
}