<h1>Users</h1>

<table id="user-data-table" class="table table-striped table-bordered table-condensed">
	<tbody>
		<tr>
			<th>User Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Created At</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>