<!DOCTYPE html>
<html>
<head>
  <title>Uiexperimentrest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Scripts for table to CSV plugins -->
  <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js" > </script> 
  <script type="text/javascript" src="http://www.kunalbabre.com/projects/table2CSV.js" > </script> 
</head>
<body>

<%= yield %>

</body>
</html>
